flask
flask-restful
flask_cors
flask_jwt_extended
pymysql
flask-sqlalchemy
flask_marshmallow
flask-bcrypt
pandas
spacy
scikit-learn
googlemaps
https://github.com/explosion/spacy-models/releases/download/ja_core_news_md-3.0.0/ja_core_news_md-3.0.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz